.col-3-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 24px 0px;
  margin-left: 18px;
}

.tryAginButton {
  display: inline-block;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: rgb(109, 4, 47);
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  align-items: center;
}

.centeringTryAgainButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.errorModel {
  display: flex;
  align-items: center;
}
