

.addressList{
    display: flex;
    flex-direction: column;
    gap: 20px;

   

}
.selectAddress{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    width: 950px;
    border-radius: 5px;
    margin-left: 20px;
}


.bold-text{
    font-size: 14px;
    font-weight: 500;
}
.breakword{
    font-size: 14px;
}
.onclicRadioButton{
    background-color: #FCF5EE;
    border: 1px solid #FBD8B4;
    border-radius: 5px;
    border: 1px solid rgb(146, 146, 146);
}