.cardfront img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card {
  cursor: pointer;
  background-color: #224eb800;
  height: 300px;
  perspective: 1000px;
  padding: 3px;
}
.cardinner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card:hover .cardinner {
  transform: rotateY(180deg);
}
.cardfront {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cardBack {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}
.cardBack li {
  list-style: none;
  padding: 5px;
}
.cardBack h1 {
  margin: 10px;
  border-bottom: 5px solid #ccc;
  padding-bottom: 10px;
}
